@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-weight: 200;
  margin: 10px 0px;
}

#main-doc {
  display: flex;
  flex-direction: row;
  line-height: 2em;
}

#navbar, #main-section {
  display: flex;
  flex-direction: column;
}

#content {
  width: 85%;
  padding-left: 20px;
  border-left: 2px solid #000;
}

#navbar {
  width: 20%;
}

.nav-link {
  padding: 20px;
  border-bottom: 2px solid #000;
  text-decoration: none;
  color: #2b2b2b;
}

#navbar header {
  border-bottom: 2px solid #000;
  font-size: 25px;
  padding: 20px;
}

#introduction {
  margin-top: 30px;
}

.main-section {
  margin-bottom: 40px
}

/* media query */ 
@media only screen and (max-width: 768px) {
  #main-doc {
    display: flex;
    flex-direction: column;
  }
  
  #content {
    border: none;
  }
  
  #navbar {
    width: 100vh;
  }
}