@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Unica+One&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}


body #navbar {
  background: #805ACB;
  display: flex;
  justify-content: space-around;
  position: fixed;
  z-index: 100;
  color: #fff;
  width: 100vw;
  padding: 20px 0px;
}

#navbar h1 {
  font-family: 'Unica One', cursive;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  padding-right: 30px;
}

#welcome-section {
  position: relative; 
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #805ACB;
}

#welcome-section::before {
  content: "";
  background-image: url('https://images.unsplash.com/photo-1516331138075-f3adc1e149cd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2583&q=80');
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.1;
}

#welcome-section h1 {
  display: none;
}

#projects {
  text-align: center;
  padding: 50px;
  
}

.project-imgs {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.project-imgs img {
  border-radius: 50px;
  padding: 20px 20px 0px 20px;
  transition: all .2s ease-in-out;
}

.project-imgs img:hover {
  transform: scale(1.1); 
}

#projects h2{
  font-family: 'Unica One', cursive;
  font-size: 30px;
  color: #805ACB;
}

.project-tile {
  margin-top: 10px;
  letter-spacing: 5px;
}

#profile-link button {
  padding: 15px;
  margin: 20px;
  border: none;
  background: #805ACB;
  color: #fff;
  border-radius: 10px;
  font-family: 'Unica One', cursive;
  font-size: 20px;
  transition: all .2s ease-in;
}

#profile-link button:hover {
  transform: scale(1.1); 
}

#contact {
  background: #805ACB;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  height: 20vh;
}

#contact h2 {
  font-family: 'Unica One', cursive;
  font-size: 50px;
  padding: 10px;
}

#contact p {
  padding: 20px;
}
  
#contact a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  #logo {
    width: 50%;
  }
  .project-imgs {
    flex-direction: column;
  }
}