/* font import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Parisienne&display=swap');

* {
  margin: 0;
  padding: 0;
}

html, body {
     height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  color: #412542;
  background: linear-gradient(#fb9eff, #d6fffe) no-repeat fixed;
 /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

#survey-form {
  background: #fed6ff;
  padding: 30px;
  border-radius: 20px;
}


#title {
  margin-top: 1.5em;
  font-family: 'Parisienne', cursive;
  font-size: 3em;
  color: #824c84;
  text-align: center;
}

#description {
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

#survey_form {
  text-align: center;
}

input[type=text], input[type=email], input[type=number], select, textarea {
  margin: 5px 0px 5px 0px;
  border-radius: 10px;
  padding: 10px;
  border: none;
}

input[type=text]:focus, input[type=email]:focus, input[type=number]:focus, select:focus, textarea:focus {
  outline: none;
}

textarea {
  width: 95%;
}

#submit {
  margin: 0 auto;
  background: #ed71f2;
  margin: 5px 0px 5px 0px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  letter-spacing: 4px;
  display: block;
  width: 100%;
}

#submit:hover {
  transition: background-color 0.5s ease;
  background-color: #dd94e0;
}